.container {
    width: 350px;
    margin:15rem auto;
    background-color: lightgray;
}

.headerDiv {
    width:100%;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.todoDiv {
    width:100%;
    height:50px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formDiv {
    width: 100%;
    height:50px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formDiv input[type="text"] {
    width:60%;
}

.formDiv input[type="submit"] {
    width:35%;
}

form {
    width:100%;
    display: flex;
    justify-content: space-around;
}

input {
    display: inline-block;
}

.todoText {
    width:150px;
}

body {
    background-color: grey;
}